name: docker-release
on:
  merge:
    branches:
      - 'main'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: echo LIB_VERSION=$(jq -r '.dependencies["@hoppscotch/cli"]' app/package.json) >> $GITHUB_ENV
    - run: echo $LIB_VERSION
    -
      name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    -
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    -
      name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    -
      name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: .
        file: Dockerfile_alpine
        push: true
        tags: shawnsarwar/hoppscotch-cli:alpine-${{ env.LIB_VERSION }}
    -
      name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: .
        file: Dockerfile_deb
        push: true
        tags: shawnsarwar/hoppscotch-cli:bookworm-slim-${{ env.LIB_VERSION }}
